/backups
/url/cache
/.emacs.desktop
/auto-save-list
/.session
session*
srecode-map.el
eshell/
*.elc
*~
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
\#*
/elpa
site-lisp/package/
site-lisp/jdee-*
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
abbrev_defs
places
project-archetypes/
request/
