[submodule "config/.config/tmux/plugins/tpm"]
	path = config/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/.config/tmux/plugins/tmux-fzf"]
	path = config/.config/tmux/plugins/tmux-fzf
	url = https://git::@github.com/sainnhe/tmux-fzf
