# Emacs stuff
cider-history
ido.last
recentf
emacs/.emacs.d/tmp/
emacs/.emacs.d/.extension
emacs/.emacs.d/.lsp-session*
emacs/.emacs.d/.dap-breakpoints


# Leiningen stuff
repl-port
self-installs/
/lein/.lein/repl-history
/emacs/.emacs.d/company-statistics-cache.el
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/projectile.cache
/emacs/.emacs.d/network-security.data
/emacs/.emacs.d/smex-items
/emacs/.emacs.d/transient/
