"*":
  "exception-reporting":
    userId: "2cf02181-b7cb-8471-011e-d354c6665df7"
  welcome:
    showOnStartup: false
  "language-elm":
    elmOraclePath: "/usr/local/bin/elm-oracle"
  core:
    disabledPackages: [
      "metrics"
      "love-ide"
      "linter-elm-make"
      "atom-format-lua"
      "autocomplete-glsl"
      "build-gulp"
      "Stylus"
      "language-elm"
      "love-atom"
      "linter-clojure"
      "jshint"
    ]
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    projectHome: "/Users/felipe/devel/"
  editor:
    invisibles: {}
    fontFamily: "Ubuntu Mono"
    fontSize: 17
    softWrap: false
    softWrapAtPreferredLineLength: false
  minimap: {}
  linter:
    errorPanelHeight: 120
  "linter-elm-make": {}
  "markdown-writer": {}
  "love-ide": {}
  "linter-lua":
    executablePath: "/usr/local/bin/luac"
  "git-plus": {}
  deprecated:
    tool:
      gulp: true
  build:
    scrollOnError: true
  "autocomplete-plus":
    minimumWordLength: 1
  react: {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "project-manager": {}
  "terminal-panel": {}
  Zen: {}
  emmet: {}
  jshint:
    supportLintingJsx: true
  "linter-eslint":
    lintHtmlFiles: true
    useGlobalEslint: true
".elm.source":
  editor:
    autoIndentOnPaste: true
