# theme = "papercolor-dark"
# theme =  "curzon"
# theme = "vim_dark_high_contrast"
theme = "dark_plus"

[editor]
# auto-info = false
# auto-completion = false
# preview-completion-insert = false
popup-border = "all"
true-color = true
color-modes = true
end-of-line-diagnostics = "hint"
# cursorline = true

[editor.lsp]
auto-signature-help = false
display-signature-help-docs = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.inline-diagnostics]
cursor-line = "warning"
# other-lines = "warning"

[keys.select]
# A-w = ":clipboard-yank" # use Space + y instead

[keys.normal]
"C-j" = [ "goto_line_end", ":append-output echo ';'", "move_char_right", "normal_mode" ]
# F3 = "extend_search_next" # no need for this anymore
F5 = ":reload-all"
F6 = ":sh xdg-open %{buffer_name}"
# A-g = ":sh tmux popup -xC -yC -w80%% -h80%% -E scooter"
A-S-i = ":format"
esc   = ["collapse_selection", "keep_primary_selection"]
C-x   = { s = ":w", C-s = ":wa", k = ":bc" }
# A-S-p = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
A-S-up = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
A-S-n = ["extend_to_line_bounds", "delete_selection", "paste_after"]
# A-w = ":clipboard-yank" # use Space + y instead
A-g = ":sh alacritty --title 'i3lazygit' -e lazygit"
# C-p = "move_line_up"
# C-n = "move_line_down"
# C-b = "move_char_left"
# C-f = "move_char_right"
# C-v = "page_down"
# A-v = "page_up"
# A-f = ["move_next_word_start"]
# A-b = ["move_prev_word_start"]
# C-e = ["goto_line_end", "move_char_right"]
# C-a = "goto_first_nonwhitespace"
# C-d = "delete_char_forward"
# C-h = "delete_char_backward"
C-y = "@:sh "
# C-y = [
#   ':sh rm -f /tmp/unique-file',
#   ':insert-output yazi %{buffer_name} --chooser-file=/tmp/unique-file',
#   ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
#   ':open %sh{cat /tmp/unique-file}',
#   ':redraw',
# ]

[keys.normal."space"]
o = ":sh xdg-open . 2>/dev/null"
# o = ":sh alacritty --title 'i3floati3' -e lazygit" # TODO: Add label "Open Lazygit"
# o = [":new", ":insert-output lazygit", ":buffer-close!", ":redraw"]
# o = ":sh alacritty --title 'i3lazygit' -e posting --collection ./"
# o = ":sh tmux popup -xC -yC -w80%% -h80%% -E scooter" # for global search & replace / find & replace
# space = ":sh tmux popup -xC -yC -w98%% -h98%% -E lazygit"
# O = ":sh ghostwriter README.md" # TODO: Add label "Edit README.md on Ghostwriter"

[keys.insert]
"C-j" = [ "goto_line_end", ":append-output echo ';'", "move_char_right", "normal_mode" ]
C-space = "completion"
A-S-i = [":format", "normal_mode"]
# F3 = "extend_search_next" # no need for this anymore
F5 = ":reload-all"
F6 = ":sh xdg-open %{buffer_name}"
# A-g = ":sh tmux popup -xC -yC -w80%% -h80%% -E scooter"
A-g = ":sh alacritty --title 'i3lazygit' -e lazygit"
# j = { k = "normal_mode", C-g = "no_op" }
C-g = "normal_mode"
backspace = "normal_mode"
del = "normal_mode"
C-o = ["normal_mode", "jump_backward"]
C-i = ["normal_mode", "jump_forward"]
# Emacs movements (TODO: Get used to helix & vim motions)
C-p = ["normal_mode", "move_line_up"]
C-n = ["normal_mode", "move_line_down"]
C-b = ["move_char_left"]
C-f = ["move_char_right"]
C-x = { s = [":w", "normal_mode"], C-s = [":wa", "normal_mode"], k = ":bc", f = "file_picker_in_current_buffer_directory" }
# A-S-p = ["normal_mode", "extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
A-S-up = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
A-S-n = ["normal_mode", "extend_to_line_bounds", "delete_selection", "paste_after"]
# A-f = ["normal_mode", "move_next_word_start"]
# A-b = ["normal_mode", "move_prev_word_start"]
# A-h = ["normal_mode", "delete_word_backward"]
# A-d = ["normal_mode", "delete_word_forward"]
C-e = ["normal_mode", "goto_line_end", "move_char_right"]
C-a = ["normal_mode", "goto_first_nonwhitespace"]
# C-v = ["normal_mode", "page_down"]
# A-v = ["normal_mode", "page_up"]
# C-A-i = "increment" # not working
# A-S-p = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
# A-S-n = ["extend_to_line_bounds", "delete_selection", "paste_after"]
C-y = "@:sh "
# C-y = [
#   ':sh rm -f /tmp/unique-file',
#   ':insert-output yazi %{buffer_name} --chooser-file=/tmp/unique-file',
#   ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
#   ':open %sh{cat /tmp/unique-file}',
#   ':redraw',
# ]
